@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);
body {
    font-family: 'Merriweather';
}

.car {
    margin: -20px -8px 0 -8px;
}
.car__body {
}
.car__title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-top: 40px;
}
.car__change {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.car__color {
    background-color: rgb(233, 218, 185);
}

.block {
    margin: 15px;
}

select {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 160px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(20,130,0,1) 0%, rgb(128, 255, 69) 100%);
    color: rgb(233, 218, 185);
    font-family: 'Merriweather';
    text-align: center;
    border: 2px solid rgb(201, 142, 66);
    border-radius: 10px;
}
option {
    background-color: rgb(0, 130, 0);
}
label {
    display: block;
    padding: 20px;
}

.car__brand-select {
}
.brand-select-label {
}
.brand-select {
}
.car__model-select {
}
.model-select-label {
}
.model-select {
}
.model-option {
}
.car__price {
}
.price-label {
}
.price-select {
}

.btn-div {
    text-align: center;
    margin: 0 auto;
}
.btn-result {
    color: rgb(233, 218, 185);
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgb(0, 116, 6) 0%, rgb(81, 255, 90) 100%);
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.result {
    color: rgb(233, 218, 185);
    background-color: green;
    text-align: center;
    height: 300px;
    margin-top: -16px;
}
.div-result {
    text-align: center;
}

.para-result {
}
.para-result-info {
}