html {
    font-size: 10px;
    font-family: "Joan", serif;
    background-color: #B71E00;
  }
  
  body {
    margin: 10px;
    background-color: rgb(225, 225, 225);
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  
  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: black;
    text-shadow: 3px 3px 1px white;
  }
  
  p,li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }

  .nav {
    background-color: black;
    border: 2px solid #B71E00;
    margin: 10px;
  }

  .ul li {
    display: inline;
    margin-right: 10px;
    color: white;
  }

  .aNav {
    color: white;
  }

  blockquote {
    font-size: large;
  }

  main {
    display: flex;
  }

  article {
    flex: 4;
  }

  aside {
    flex: 1;
    margin-left: 10px;
    background-color: black;
    border: 2px solid #B71E00;
    width: 160px;
    text-align: left;
  }

  aside li {
    padding-bottom: 10px;
    color: #b1b1b1;
    font-size: 20px;
    text-decoration: none;
  }

  aside li, a:hover {
    color: rgb(255, 255, 255);
  }

  aside li, a:visited {
    color: #ffffff;
  }

  aside li, a:active {
    color: white;
  }

  footer {
    margin-top: 10px;
    background-color: black;
    border: 2px solid #B71E00;
    color: white;
    text-align: center;
  }